body {
    background-color: #FFFFDE;
    color: #5A0000;
    font-family: sans-serif;
}

.banner {
    color: #FFFFD6;
    text-align: center;
    background-size: cover;
}

dd, dt {
    margin-left: 0;
}

dt {
    margin-top: 0.5em;
}

dd {
    font-weight: bold;
}

label span, .fout {
    background-color: red;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-shadow: 5px 5px #777777;
    margin-left: 0.5em;
    padding: 0.5em;
    color: white;
}

.boodschap {
    background-color: green;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-shadow: 5px 5px #777777;
    margin-left: 0.5em;
    padding: 0.5em;
    color: white;
}

label span {
    margin-left: 0.5em;
}

div label {
    cursor: pointer;
}

div input {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 1em;
    font-size: 1.1em;
    width: 24em;
}
.zozo input{
    display: inline;
    margin-top: 0.2em;
    margin-bottom: 1em;
    width: auto;
}


input:focus, textarea:focus, select:focus {
    background-color: #FFFFD6
}


input[type='checkbox'] {
    display: inline;
}

nav ul {
    padding: 0.4em 0;
}

nav li {
    display: inline;
}

nav li a {
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}
li a {
    font-weight: bold;
    padding-left: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}

ul.toto {
    list-style: none;
    padding: 0;
}

ul.toto li {
    padding-left: 0.5em;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    display: inline;
}
table.toevoegenTable td{
    padding-right: 10em;
}
table.toevoegenTable{
    padding-right: 10em;
    text-align: left;
}

table.mandjeTable {
    margin-top: 2em;
}

.mandjeTable tbody tr:nth-child(odd) {
    background-color: lemonchiffon;
}

.mandjeTable tbody tr:nth-child(even) {
    background-color: gainsboro;
}

.mandjeTable thead tr, tfoot tr {
    background-color: khaki;
    font-weight: bold;
}
.mandjeTable thead tr{
    text-align: center;
}

.mandjeTable td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.mandjeTable tr{
    text-align: right;
}

