<head th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" th:href="@{/images/wereldwijnen.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/wereldwijnen.css}">
</head>

<nav th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <div class="banner" th:style="'background-image:url(' + @{/images/intro.jpg} + ');'">
        <div><h1>Wereldwijnen</h1></div>
        <ul>
            <li th:each="land:${listLand}" th:object="${land}">
                <a th:href="@{/soort/{id}(id= *{id})}">
                    <img th:src="@{/images/{num}.png(num= *{id})}" th:alt="|land *{id}|"></a>
            </li>
        </ul>
<!--        <div><img th:src="@{/images/mandje.png}"></div>-->
    </div>
</nav>