<head th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" th:href="@{/images/wereldwijnen.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/wereldwijnen.css}">
</head>

<nav th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <div class="banner" th:style="'background-image:url(' + @{/images/intro.jpg} + ');'">
        <div><h1>Wereldwijnen</h1></div>
        <ul>
            <li th:each="idLand:${listLand}">
                <a th:href="@{/land/{id}(id= ${idLand})}">
                    <img th:src="@{/images/{num}.png(num= ${idLand})}" th:alt="|land ${idLand}|"></a>
            </li>
        </ul>
        <div th:if="${stateMandje.gevuld}"><a th:href="@{/mandje}">
            <img th:src="@{/images/mandje.png}" alt="mandje">
        </a></div>
    </div>
</nav>