<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title= 'Wijnen')"></head>
<body>
<nav th:replace="fragments::menu"></nav>

<div th:if="${soort.land != null}">
    <h2 th:text="${soort.land.naam}"></h2>
    <ul class="toto">
        <li th:each="soort:${soort.land.soorten}" th:object="${soort}">
            <a th:href="@{/soort/{id}(id= *{id})}" th:text="*{naam}"></a>
        </li>
    </ul>
</div>

<h2 th:if="${soort != null}">Wijnen uit <span th:text="${soort.naam}"></span></h2>
<div th:if="${soort != null}">
    <ul>
        <li th:each="wijn:${soort.wijnen}" th:object="${wijn}">
            <a th:href="@{/wijn/toevoegen/{id}(id= *{id})}">
                <span th:text="*{jaar}"></span> <img th:src="@{/images/ster{num}.png(num= *{beoordeling})}">
            </a>
        </li>
    </ul>
</div>
</body>
</html>